@using SolarniBaron.Domain.BatteryBox.Models
@inherits BlazorState.BlazorStateComponent

<table class="table">
    <thead>
    <tr>
        <th class="col col-sm-6 col-md-5 col-lg-4 col-xl-3" scope="col">Název</th>
        <th scope="col">Hodnota</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Síť L1:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.GridOutputL1, 5000)">@Helpers.FormatMetric(State.BatteryBoxStatus.GridOutputL1, "W")</td>
    </tr>
    <tr>
        <td>Síť L2:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.GridOutputL2, 5000)">@Helpers.FormatMetric(State.BatteryBoxStatus.GridOutputL2, "W")</td>
    </tr>
    <tr>
        <td>Síť L3:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.GridOutputL3, 5000)">@Helpers.FormatMetric(State.BatteryBoxStatus.GridOutputL3, "W")</td>
    </tr>
    <tr>
        <td>Síť celkem:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.GridOutputTotal, 10000)">@Helpers.FormatMetric(State.BatteryBoxStatus.GridOutputTotal, "W")</td>
    </tr>
    <tr>
        <td>Dnes ze sítě:</td>
        <td>@Helpers.FormatMetric(State.BatteryBoxStatus.GridConsumptionToday, "Wh")</td>
    </tr>
    </tbody>
</table>

@code {

    private AppState State => GetState<AppState>();


}