@using SolarniBaron.Domain.BatteryBox.Models
@using SolarniBaron.Domain.BatteryBox.Models.BatteryBox

@inherits BlazorState.BlazorStateComponent
<table class="table">
    <thead>
    <tr>
        <th class="col col-sm-6 col-md-5 col-lg-4 col-xl-3" scope="col">Název</th>
        <th scope="col">Hodnota</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Výkon celkem:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.PanelsOutputL2 + State.BatteryBoxStatus.PanelsOutputL1, 9600)">
            @Helpers.FormatMetric(State.BatteryBoxStatus.PanelsOutputL2 + State.BatteryBoxStatus.PanelsOutputL1, "W")
            @if (State.BatteryBoxStatus.PanelsOutputL1 > 0 || State.BatteryBoxStatus.PanelsOutputL2 > 0)
            {
                var max = Math.Max(State.BatteryBoxStatus.PanelsOutputL1, State.BatteryBoxStatus.PanelsOutputL2);
                var diff = Math.Abs(State.BatteryBoxStatus.PanelsOutputL1 - State.BatteryBoxStatus.PanelsOutputL2);
                var perc = diff / max * 100;
                if (perc > 10 && max > 120)
                {
                    <span class="badge bg-warning" style="text-shadow: none">Nevyrovnáno</span>
                }
            }
        </td>
    </tr>
    <tr>
        <td>Výkon %:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.PanelsOutputPct, 100)">
            @State.BatteryBoxStatus.PanelsOutputPct%
        </td>
    </tr>
    <tr>
        <td>Zátěž celkem:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.ConsumptionTotal, 10000)">@Helpers.FormatMetric(State.BatteryBoxStatus.ConsumptionTotal, "W")</td>
    </tr>
    <tr>
        <td>Síť celkem:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.GridOutputTotal, 10000)">@Helpers.FormatMetric(State.BatteryBoxStatus.GridOutputTotal, "W")</td>
    </tr>
    <tr>
        <td>Baterie %:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.BatteryPct, 100)">
            @State.BatteryBoxStatus.BatteryPct%
        </td>
    </tr>
    <tr>
        <td>Dnes vyrobeno:</td>
        <td>@Helpers.FormatMetric(State.BatteryBoxStatus.OutputToday, "Wh")</td>
    </tr>
    <tr>
        <td>Dnes spotřebováno:</td>
        <td>@Helpers.FormatMetric(State.BatteryBoxStatus.ConsumptionToday, "Wh")</td>
    </tr>
    <tr>
        <td>Dnes ze sítě:</td>
        <td>@Helpers.FormatMetric(State.BatteryBoxStatus.GridConsumptionToday, "Wh")</td>
    </tr>
    <tr>
        <td>Dnes do sítě:</td>
        <td>@Helpers.FormatMetric(State.BatteryBoxStatus.GridDeliveryToday, "Wh")</td>
    </tr>
    <tr>
        <td>Poslední aktualizace:</td>
        <td>@(State.BatteryBoxStatus.LastCall.LocalDateTime.ToString("dd-MM-yyyy HH:mm"))</td>
    </tr>
    <tr>
        <td>Pracovní režim:</td>
        <td>
            @(State.BatteryBoxStatus.OperationMode switch
            {
                OperationMode.Home1 => "Domácí 1 (baterie)",
                OperationMode.Home2 => "Domácí 2 (baterie když se nevyrábí)",
                OperationMode.Home3 => "Domácí 3 (baterie když se nevyrábí, dobít ze sítě)",
                OperationMode.HomeIVUPS => "UPS (baterie při výpadku, dobít ze sítě)",
                _ => "Neznámý"
                })
        </td>
    </tr>
    </tbody>
</table>

@code {

    private AppState State => GetState<AppState>();


}