@using SolarniBaron.Domain.BatteryBox.Models
@inherits BlazorState.BlazorStateComponent


<table class="table">
    <thead>
    <tr>
        <th class="col col-sm-6 col-md-5 col-lg-4 col-xl-3" scope="col">Název</th>
        <th scope="col">Hodnota</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Zátěž L1:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.ConsumptionL1, 5000)">@Helpers.FormatMetric(State.BatteryBoxStatus.ConsumptionL1, "W")</td>
    </tr>
    <tr>
        <td>Zátěž L2:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.ConsumptionL2, 5000)">@Helpers.FormatMetric(State.BatteryBoxStatus.ConsumptionL2, "W")</td>
    </tr>
    <tr>
        <td>Zátěž L3:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.ConsumptionL3, 5000)">@Helpers.FormatMetric(State.BatteryBoxStatus.ConsumptionL3, "W")</td>
    </tr>
    <tr>
        <td>Zátěž celkem:</td>
        <td style="@Helpers.GetGradient(State.BatteryBoxStatus.ConsumptionTotal, 10000)">@Helpers.FormatMetric(State.BatteryBoxStatus.ConsumptionTotal, "W")</td>
    </tr>
    </tbody>
</table>

@code {

    private AppState State => GetState<AppState>();


}