@using SolarniBaron.Domain.BatteryBox.Models
<table class="table">
    <thead>
    <tr>
        <th class="col col-sm-6 col-md-5 col-lg-4 col-xl-3" scope="col">Název</th>
        <th scope="col">Hodnota</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Výkon L1:</td>
        <td style="@Helpers.GetGradient(CurrentStatus.PanelsOutputL1, 4800)">@Helpers.FormatMetric(CurrentStatus.PanelsOutputL1, "W")</td>
    </tr>
    <tr>
        <td>Výkon L2:</td>
        <td style="@Helpers.GetGradient(CurrentStatus.PanelsOutputL2, 4800)">@Helpers.FormatMetric(CurrentStatus.PanelsOutputL2, "W")</td>
    </tr>
    <tr>
        <td>Výkon celkem:</td>
        <td style="@Helpers.GetGradient(CurrentStatus.PanelsOutputL2 + CurrentStatus.PanelsOutputL1, 9600)">@Helpers.FormatMetric(CurrentStatus.PanelsOutputL2 + CurrentStatus.PanelsOutputL1, "W")</td>
    </tr>
    <tr>
        <td>Výkon %:</td>
        <td style="@Helpers.GetGradient(CurrentStatus.PanelsOutputPct, 100)">
            @CurrentStatus.PanelsOutputPct%
        </td>
    </tr>
    </tbody>
</table>

@code {

    [Parameter]
    public BatteryBoxStatus CurrentStatus { get; set; }

}